@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f1f1f1;
    color: #0f141e;

    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
   

    /*font: normal 16px 'Roboto', sans-serif; тоже самое , что и написано ниже */

    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  задаетются шрифты для разных браузеров */
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color: gray;
}

.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.025);
}
 
.info {
    margin-bottom: 20px;

}

.info p {
    color: #86898f;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    /* text-transform: uppercase; */
    /* letter-spacing: 05px; */
    /* word-spacing: 42px; */
}
/* Box Model */
.container {
    max-width: 750px;
    margin: auto;
    padding-top: 30px;
}

/*.social {
    background: gold; */
    /* padding: 15px;*/
    /* padding: 15px 40px; */
    /* padding: 15px 20px 25px 30px;*/
     /*padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 30px;
    margin: 5px;

    border: 5px solid red;
    border-bottom-style: dotted;
    border-top-width: 15px;
    border-right-color: darkkhaki;
} */

    /*.box-model > div {
    float: left;
    background: #0f141e;
    height: 200px;
    border: 4px solid red;
    width: 25%;
    box-sizing: border-box;

    } */

 .bg-yellow {
    background:#fff9dc;
}

.bg-green {
    background: #e5ffe7;
}

.bg-red {
    background: #ffe5e5;
}






    .card {
        padding: 15px 20px;
        margin-bottom: 20px;
        border-radius: 20px;

    }